  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Statistiche Sito
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card mb-3">
                <div class="bg-danger border-danger text-white text-center card-body d-flex flex-column justify-content-center">
                  <h2 class="">
                    <i class="fas fa-user"></i>
                    34
                  </h2>
                  <h3>Utenti</h3>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card">
                <div class="text-white text-center border-success bg-success card-body d-flex flex-column justify-content-center">
                  <h2 class="">
                    <i class="fas fa-list-ul"></i>
                    22
                  </h2>
                  <h3>Categorie</h3>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="text-white text-center border-warning bg-warning card-body d-flex flex-column justify-content-center">
                  <h2>
                    <i class="fab fa-bitcoin"></i>
                    17
                  </h2>
                  <h3>Spese</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Riepilogo Utenti
        </div>
        <div class="card-body">
          <table class="table table-hover table-striped table-responsive">
            <thead>
              <tr class="bg-primary text-white">
                <td></td>
                <td>Utente</td>
                <td>Categorie</td>
                <td>Spese</td>
                <td>Bilancio</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="avatar" style="height: 40px"></div>
                </td>
                <td class="align-middle">
                  Giacomo Alberini
                </td>
                <td class="align-middle text-center">
                  <span class="badge badge-pill badge-danger">10</span>
                </td>
                <td class="align-middle text-center">
                  <span class="badge badge-pill badge-warning">20</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-danger">-200 &euro;</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
