body {
  background-color: #f4f4f4;
}

.navbar .nav-item {
  padding: 0.25rem;
}

.navbar .nav-item.active {
  background-color: #007b73; 
  color: white;
}

.breadcrumb {
  background-color: #ccc;
}

.breadcrumb a {
  color: #777!important;
}

.bg-secondary {
  /* background-color: #007b73!important;  */
  background-color: #000!important;
}

.bg-primary,
.list-group-item.active {
  background-color: #009a8a!important;
}

.btn-primary {
  background-color: #009a8a!important;
  border-color: #009a8a!important;
}

.list-group-item-action.active > .badge {
  background-color: white;
  color: #009a8a!important;
}

a > i {
  width: 25px;
  margin-right: 0.5rem;
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar.tiny {
  width: 40px;
  height: 40px;
}

