<div>
  <marquee>Non ci credo questo è stato il primo TAG che ho mai visto in HTML!</marquee>

  <navigation></navigation>

  <header></header>

  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <breadcrumb></breadcrumb>

      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3 mb-3">
        <side-nav></side-nav>
      </div>

      <div class="col-md-9 mb-3">
        <router-outlet>
        </router-outlet>
      </div>

    </div>
  </div>

  <footer class="bg-dark text-center p-4 justify-content-center d-flex align-items-center text-white">
    <p class="m-0">
      Copyleft &copy; MyExpense - 2018 - Made with
      <i class="fa fa-heart text-danger"></i>
    </p>
  </footer>
</div>
